body{
	background:#6666ff;
	font-family:sans-serif;
}
.container{
	margin-top=100px
}
table{
	width:600px;
	margin:auto;
	padding-bottom:20px;
}

tr {
  display: flex;
  margin-top=50px;
}

td {
  flex: 1;
  height: 200px;
  cursor: pointer;
  background: #ccccff;
  border-width: 1px;
  border-style: solid;
  border-color: #0000ff;
  font-size:150px;
  text-align:center;
  color:#0000ff;
}

.message{
	width:50%;
	margin:auto;
	margin-bottom:20px;
	background:#3333ff;
	text-align:center;
	color:#ffffff;
	border-style:solid;
}

#message{
	font-size:40px;
}
button{
	cursor:pointer;
	margin:auto;
	display:block;
	background:#3333ff;
	color:#ffffff;
	width:200px;
	font-size:50px;
	padding:10px 10px;
	border:solid;
}