body{
	background-image: url("../img/background.jpg");
	background-color:#662200;
	background-repeat: no-repeat;
	background-size: cover;
	font-family:sans-serif;
}
.container{
	margin-top=100px
}
table{
	width:450px;
	margin:auto;
	padding-bottom:20px;
}

tr {
  display: flex;
  margin-top=50px;
}

td {
  flex: 1;
  height: 150px;
  cursor: pointer;
  background-image: url("../img/box.jpg");
  background-color:#661a00;
  border-width: 1px;
  border-style: solid;
  border-color: #ffffff;
  font-size:150px;
  text-align:center;
  color:#ffffff;
}

td:hover{
	opacity:0.7;
}

.message{
	width:50%;
	margin:auto;
	margin-bottom:20px;
	text-align:center;
	color:#ffffff;
	font-size:25px;
	
}

#message{
	font-size:30px;
	border-style:solid;
	border-radius:50px;
}
button{
	cursor:pointer;
	margin:auto;
	display:block;
	color:#ffffff;
	width:200px;
	font-size:40px;
	padding:5px 5px;
	border:solid;
	border-radius:12px;
	background:none;
	opacity:0.7;
}
button:hover{
	opacity:1;
}